@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* @keyframes ethereumAnimation {
    0% {transform: translateY(-0.5rem);}
    24% {transform: translateY(0.1rem);}
    48% {transform: translateY(-0.3rem);}
    80% {transform: translateY(-0rem)}
} */

/* @keyframes ethereumAnimation {
    5% {transform: translateY(-0.5rem);}
    24% {transform: translateY(0.3rem);}
    36% {transform: translateY(-0.2rem);}
    45% {transform: translateY(0.1rem);}
    53% {transform: translateY(0rem);}
} */

@keyframes ethereumAnimation {
    0% {opacity: 1; transform: scale(1);}
    25% {opacity: 0; transform: scale(0.85)}
    100% {opacity: 1; transform:scale(1)};
}

:root {
    --color-blue: hsl(215, 51%, 70%);
    --color-cyan: #00fff7;
    --color-cyan-transparent: #00fff760;
    --color-blue-dark-main: hsl(217, 54%, 11%);
    --color-blue-dark-card: hsl(216, 50%, 16%);
    --color-blue-dark-line: hsl(215, 32%, 27%);
    --color-white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

.img-div, h1, p, .ethereum-clock, hr {
    margin-bottom: 20px;
}

main, img-div, #mainImage, #shadowSpan {
    border-radius: 8px;
}

html, body {
    font-family: 'Outfit';
    background-color: var(--color-blue-dark-main);

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 15px 0;
    font-size: 17px;
}

/* #canvas {
    position: absolute;
    display: inline;
    z-index: 0;
    max-height: 100%;
} */

#canvas {
    position: fixed;
    z-index: 0;
}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 270px;
    height: min-content;
    padding: 20px;
    z-index: 1;

    background-color: var(--color-blue-dark-card);
}

.img-div {
    width: 100%;
    display: block;
    position: relative;
}

#mainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#shadowSpan {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-cyan-transparent);
    opacity: 0;
    transition-duration: 0.75s;
}

#shadowSpan:hover {
    opacity: 1;
}

#eyeImage {
    width: 60px;
    object-fit: contain;
    align-self: center;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

.ethereum-clock {
    display: flex;
    justify-content: space-between;
}

.ethereum {
    color: var(--color-cyan);
}

.ethereum img {
    animation-name: ethereumAnimation;
    animation-duration: 2s;
    animation-timing-function:ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

.width {
    width: 5px;
}

.clock {
    color: var(--color-blue);
}

hr {
    color: var(--color-blue-dark-line);
    line-height: 5px;
    
}

#avatarImage {
    height: 40px;
    border: 1px solid var(--color-blue-dark-line);
    border-radius: 100px;
    margin-right: 15px;
}

/* General Classes */

.flex-row-items-center {
    display: flex;
    align-items: center;
}

.light-text {
    color: white;
    transition: 0.45s;
}

.light-text:hover {
    color: var(--color-cyan);
}

.dark-text {
    color: var(--color-blue);
}

@media (max-width: 600px) {
    #canvas {
        width: 100%;
        height: 100%
    }
}

@media (min-width: 601px) {
    #canvas {
        width: 100%;
    }
}